<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Welcome to <a style="color: rgb(171, 205, 50);">Chennai</a></h1>
        <h1>MSD</h1>
        <img src="https://img1.hscicdn.com/image/upload/f_auto,t_ds_square_w_640,q_50/lsci/db/PICTURES/CMS/319900/319946.png" height="300px" width="300px" alt="">
        <p>He is the captain of Chennai Super Kings (CSK) in the Indian Premier League. <br> He captained the side to championships in the 2010, 2011, 2018 and 2021 editions of IPL league. <br> He also scored 4,978 runs in IPL. Also under his captaincy Chennai Super Kings (CSK) Won Champions League T20 two times, in 2010 and 2014.</p>
        <h2>This page is performed by Generic url navigation.</h2>
        <a href="{% url 'raina' %}">Goto raina page.</a>
    </center>
</body>
</html>