<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Welcome to <a style="color: rgb(171, 205, 50);">Chennai</a></h1>
        <h1> RAINA</h1>
        <img src="https://img1.hscicdn.com/image/upload/f_auto,t_ds_square_w_320,q_50/lsci/db/PICTURES/CMS/316500/316523.png" alt="">
        <p>He is the first ever Indian cricketer to make centuries in all formets. <br> He holds the record of most no. of catches (107) in the IPL. <br> He is also called mister IPL.</p>
        <h2>This page is performed by Generic url navigation.</h2>
        <a href="{% url 'dhoni' %}">Goto dhoni page.</a>
    </center>
</body>
</html>